---
import { app } from "../firebase/server";
import { getAuth, type DecodedIdToken } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import Nav from "./components/Nav";
import Form from "./components/Form";

const auth = getAuth(app);
let user: DecodedIdToken;
if (Astro.cookies.has("session"))
	user = await auth.verifySessionCookie(Astro.cookies.get("session").value);
if (!user) return Astro.redirect("/signin");

const title = "Book a Study Session";
---

<Layout {title}>
	<Nav title={title} bookable={false} />
	<main class="bg-body-secondary pb-5 pt-2">
		<Form client:load/>
	</main>
</Layout>
<!-- <script>


    const form = document.querySelector("form") as HTMLFormElement;
	form.addEventListener("submit", async (e) => {
		e.preventDefault();
		const formData = new FormData(form);
        const course = "MAS3114";
		const name = formData.get("name")?.toString(); // empty string on emtpy
		let description = formData.get("password")?.toString(); // undefined on empty
        description = !description ? "" : description;
		const location = formData.get("location")?.toString(); // emtpy string on empty
        const size = formData.get("size");
        const start = getUnixTimestampFromInputs(formData.get("startDate"), formData.get("startTime"));
        const end = getUnixTimestampFromInputs(formData.get("endDate"), formData.get("endTime"));

        if(location == "" || !size || !start || !end) return; // TODO: error


</script> -->
