---
import { app } from "../firebase/server";
import { getAuth, type DecodedIdToken } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.jsx";
import Form from "../components/Form.jsx";

const auth = getAuth(app);
let user: DecodedIdToken;
if (Astro.cookies.has("session"))
	user = await auth.verifySessionCookie(Astro.cookies.get("session").value);
if (!user) return Astro.redirect("/welcome");
---

<Layout title="Booking">
	<Nav client:load title={"Create a Study Session"} bookable={false} />
	<main class="bg-body-secondary py-sm-5 py-2 w-100">
		<Form client:load />
	</main>
</Layout>
