---
import Layout from "../layouts/Layout.astro";
---

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<style>
    .the-main-font {
        font-family: "Inter", sans-serif; 
    }
  </style>

<Layout title="Home">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 mb-3">
        <h1 class="the-main-font">StudyBuddy</h1>
      </div>
      <div class="col-md-6 text-end">
        <p class="the-main-font"> <a href="/signin" class="btn btn-primary rounded-3 ms-4 mt-2 btn-md">Log In</a> </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <img src="/image.png" class="img-fluid rounded mx-auto d-block" alt="Image" />
          <p class="mt-3 fs-4 fw-bold the-main-font">Find study groups easily and quickly with StudyBuddy</p>
          <p class="mt-3 fs-5 the-main-font">Sign up to get started, or log in if you have an account!</p>
          <a href="/register" class="btn btn-primary rounded-3 ms-4 mt-2 btn-lg">Register</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
