---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import Timeline from "./components/Timeline";
import Nav from "./components/Nav";

/* Check if the user is authenticated */
const auth = getAuth(app);
let authenticated = false;
if (Astro.cookies.has("session")) {
	const sessionCookie = Astro.cookies.get("session").value;
	const decodedCookie = await auth.verifySessionCookie(sessionCookie);
	if (decodedCookie) {
		authenticated = true;
		Astro.redirect("/test");
	}
}

const data = await fetch("http://localhost:4321/api/search", {
	method: "POST",
	headers: {
		"Content-Type": "application/json"
	},
	body: JSON.stringify({ course: "COP3503C" })
}).then((data) => data.json());

// chunk together by time
const map = new Map();
data.forEach((studyGroup) => {
	const truncatedToHours = ((studyGroup.start/1000)-((studyGroup.start/1000)%3600));
	if (map.has(truncatedToHours))
		map.set(truncatedToHours, [...map.get(truncatedToHours), truncatedToHours]);
	else map.set(truncatedToHours, [studyGroup]);
});

// sort the chunks0
const sortedChunks = [...map.entries()].sort(
	(a, b) => new Date(b[0]).getDate() - new Date(a[0]).getDate()
);
---

<Layout>
	<Nav />

	<main>
		<Timeline client:load studyGroups={sortedChunks} />
	</main>
</Layout>
