---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav></nav>
		<main>
			<div class="card">
				<h1>Study Buddy</h1>
				<form>
					<input type="text" placeholder="Enter Email" />
					<label for="">Password</label>
					<input type="password" placeholder="Enter Password" />
					<label for="">Confirm Password</label>
					<input type="password" placeholder="Confirm Password" />

					<button type="submit"> Register</button>
				</form>
			</div>
		</main>
	</body>
	<script>
		import "../js/register.js"
	</script>
</html>
