---
import { app } from "../firebase/server";
import { getAuth, type DecodedIdToken } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";
import Nav from "./components/Nav";
import Search from "./components/Search";

const auth = getAuth(app);
let user: DecodedIdToken;
if (Astro.cookies.has("session"))
	user = await auth.verifySessionCookie(Astro.cookies.get("session").value);
if (!user) return Astro.redirect("/signin");

const title = "Group Finder";
---

<Layout {title}>
	<div class="bg-body-secondary pb-5" style="min-height: 100vh;">
		<Nav title={title} />
		<Search
			courses={[]}
			client:load
		/>
		<main class="">
            not searching yet
		</main>
	</div>
</Layout>
