---
import Layout from "../layouts/Layout.astro";
import HeroLayout from "../layouts/HeroLayout.astro";
---

<Layout>
    <HeroLayout>
        <div class="col text-center">
            <img
                src="/image.png"
                class="img-fluid rounded mx-auto"
                alt="Image"
            />
            <h4 class="mt-4 fw-bold">
                Find study groups easily and quickly with StudyBuddies
            </h4>
            <h5 class="mt-4">
                Sign up to get started, or log in if you have an account!
            </h5>
        </div>
        <div class="my-4 gap-3 text-center row px-3">
            <a href="/signin" class="btn btn-primary rounded-3 col">Sign In</a>
            <a
                href="/register"
                class="btn btn-outline-secondary rounded-3 col-12">Register</a
            >
        </div>
    </HeroLayout>
</Layout>
