<div class="container-fluid pt-2">
    <div class="row my-5">
        <div class="col-md-6 mx-auto">
            <slot />
            <p class="small text-secondary mt-5 text-center">
                Try<b> guest account</b>
                <code>email:test@gmail.com</code> and <code
                    >password:password</code
                >
                <br />
                <b>Or</b> create your own account
            </p>
        </div>
    </div>
</div>
